<p class="text">Login as</p>
<div class="teachLog">
    <button  type="button" class="btn">
        <a href="/teacher/teacherlogin" class="btn btn-success">Teacher Login</a>
    </button>
    <button  type="button" class="btn">
        <a href="/student/login" class="btn btn-primary">Student Login</a>
    </button>
</div>